* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

nav {
    padding: 25px 0px;
    background-color: #9c9c9c;
}

nav  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #000000;
    font-weight: 900;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content h1 {
    margin-bottom: 50px;
    font-size: 50px;
    background-color: #000;
    color: #fff;
    padding: 25px;
    border-radius: 15px;
}

.content h1 #hex-value {
    color: rgb(55, 195, 255);
}

.content button {
    border: 2px solid black;
    background-color: #000000;
    padding: 25px;
    border-radius: 15px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.content button:hover {
    border: 2px solid white;
}